/*
userChrome.css
*/

/* Commentary: */
/*
Author: Marco Prevedello
Tested with Firefox 86.0
*/

/* Code: */

/* Hide tab bar in FF Quantum */
#TabsToolbar {
  visibility: collapse !important;
  margin-bottom: 21px !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  visibility: collapse !important;
}

/* Compact tab layout */
:root { --tab-height: 20px !important; }
.tab { height: 20px !important; }
/* Shrink space between pinned tabs and tab bar, only when pins are present */
#tabbar[style*="margin"] { margin-top: 20px !important; }

/* Show title of unread tabs with red font */
.tab.unread .label {
  color: red !important;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: " ";
}
